In [1]:
'''
En las columnas si un valor se repite en las filas, la/s columnas serán keys en una tupla,
con los valores sin modificar, agrupados y como keys del dict los valores de la columna
El resto de columnas serán values y los valores se sumarán por rows en caso de que se repita la key, 
y se incluiran como values del dict
'''

'\nEn las columnas si un valor se repite en las filas, la/s columnas serán keys en una tupla,\ncon los valores sin modificar, agrupados y como keys del dict los valores de la columna\nEl resto de columnas serán values y los valores se sumarán por rows en caso de que se repita la key, \ny se incluiran como values del dict\n'

In [2]:
import pandas as pd
import numpy as np

In [3]:
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

In [4]:
type(arr)

list

In [5]:
df = pd.DataFrame(arr)

In [6]:
df

   0  1  2   3
0  1  6  2  10
1  8  9  4  11
2  9  8  7  12
3  1  6  3  20

In [7]:
idx = [0, 1]

In [8]:
df2=df.groupby(idx).sum()

In [9]:
df2

     2   3
0 1
1 6  5  30
8 9  4  11
9 8  7  12

In [10]:
keys = df2.index.tolist()

In [11]:
val1 = df2.values.tolist()

In [12]:
dict1 = dict(zip(keys, val1))

In [13]:
dict1

{(1, 6): [5, 30], (8, 9): [4, 11], (9, 8): [7, 12]}

In [17]:
solut = pd.DataFrame(dict1)
pp = solut.transpose()
pp

     0   1
1 6  5  30
8 9  4  11
9 8  7  12

In [15]:
'''
notas mías
def group(arr, idx):
    df = pd.DataFrame(arr)
    for column in df:
        print(column)
        
'''

'\n\ndef group(arr, idx):\n    df = pd.DataFrame(arr)\n    for column in df:\n        print(column)\n        \n'

In [16]:
'''
notas mías
df = pd.DataFrame(arr)
for column in df:
    print(column)
    
'''

'\n\ndf = pd.DataFrame(arr)\nfor column in df:\n    print(column)\n    \n'